body{
	background-color: #858585;


}
.wrapper {
	width: 1024px;
	margin: auto;
	background-color:#f4f4f4;

	/*margin:auto;*/
	/*background-color:#f4f4f4;*/
}

.top{
	margin-left:0px;
	margin-right:0px;
	height:250px;
	background-image:url("../images/banner2.jpg");
}

#dangky {
	margin-bottom: 5px;
	margin-top: 205px;
}

#btndangky {
	width: 60px;
	height:20px;
}
#btndangky {
font-size: 1em;
width: 146px;
height: 40px;
}

.content {
	margin-left:0px;
	margin-right:0px;
	margin-top: 10px;

	/*height:1000px;
*/
}

.nav {
	text-align: center;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 5px;
}
.infouser {
margin-top: 10px;
}
.header-form{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-top: 5px;
	font-size: 1.3em;
	/*font-weight: bold;*/
}

.thumbnail>img,
.thumbnail a>img {
width:150px;
height:140px;

}
.avatar{
	background-color: #CCFFCC;
	border:1px solid #8F8FFF;
}
.tittle {
	color:#426c08;
	margin-left:15px;
	font-size: 1.3em;
}

.thumbnail {
	height: 230px;
}

.thumbnail>img,
.thumbnail a>img {


}
.avatar >img,
.thumbnail a>img {

	margin-top:5px;
	border-radius:8px;
}
.thongtin{
	background-color:#E0E0E0;
}
.ten{
	text-align: center;
	color:#FF0000;
	font-size: 1.3em;
}
.diachi{
	text-align:center;
	color:#FF0000;
}
.infouser{
	margin-top:10px;
}

.block-bacsi{
	border:1px solid #E0E0E0;
	border-radius: 10px;
}
.block-bacsi {
	margin-top:5px;
	background-color: #ffffff;
}
.list-bs{
		padding-top: 5px;
	padding-bottom: 5px;
	background-color: #C2C2C2;
	margin-top: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 10px;
}
.dangki{
	margin-top: 45px;
	background-color: #FFF;
	padding-bottom: 10px;
	border: 1px solid #D7D9D9;
	border-radius: 8px;

}
.titdk {
	text-align: center;
	margin-top:10px;
	margin-bottom:10px;
	color: #428bca;
	font-size: 2em;
	border-bottom:1px solid #D7D9D9;
}

.footer{
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
}
.coppy{
	padding:5px 0 5px 0;
	background-color: rgba(24, 134, 33, 0.83);
	color: #FFF;
	border: 1px solid #277724;
	border-radius: 2px;
}
.coppyright{
	margin-left: 340px;
	font-size: 1.2em;
}
.lienhe{
	margin-top: 35px;

}
.thongtin{
	background-color:#E0E0E0;
}

}
.anhdaidien{
	width:150px;
	height:140px;
}