body{
	background-color: #858585;


}
.wrapper {
	width: 1024px;
	margin: auto;
	background-color:#f4f4f4;

	/*margin:auto;*/
	/*background-color:#f4f4f4;*/
}

.top{
	margin-left:0px;
	margin-right:0px;
	height:250px;
	background-image:url("../images/banner2.jpg");
}

#dangky {
	margin-bottom: 5px;
	margin-top: 205px;
}


#btndangxuat {
font-size: 1em;
width: 146px;
height: 40px;
}

.content {
	margin-left:0px;
	margin-right:0px;
	margin-top: 10px;

	/*height:1000px;
*/
}

.nav {
	text-align: center;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 5px;
}
.dangnhap{
	background-color: #ffffff;
	margin-top:10px;
	border:1px solid #E0E0E0;
	border-radius: 10px;
}
.header-form{
	font-size: 1.3em;
	/*font-weight: bold;*/
}


.nguoidung{
	margin-top: 5px;
	color:#FFF;
	border:1px solid #C2C2C2;
	border-radius:5px;
	background-color:#428bca;
}

.header{
	margin-top:5px;
	padding-left:10px;
	font-size: 1.5em;
}

.chucnang{
margin-top:10px;
}

.tittle {
	color:#426c08;
	margin-left:15px;
	font-size: 1.3em;
}

.block {
	padding-left:5px;
	padding-right:5px;
}
.thumbnail {
	height: 230px;
}

.thumbnail>img,
.thumbnail a>img {
max-width: 40%;

}
.avatar{
	background-color: #CCFFCC;
	border:1px solid #8F8FFF;
}
.avatar >img,
.thumbnail a>img {
	max-width: 80%;
	margin-top:5px;
	border-radius:8px;
}
.btntim{
	background-color:#C2C2C2;
}
.tenbs{
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	margin-top:3px;
	border-bottom:1px solid #E0E0E0;
}
.block-bacsi{
	border:1px solid #E0E0E0;
	border-radius: 10px;
}
.block-bacsi {
	margin-top:5px;
	background-color: #ffffff;
}
.list-bs{
		padding-top: 5px;
	padding-bottom: 5px;
	background-color: #C2C2C2;
	margin-top: 10px;
	border: 1px solid #E0E0E0;
	border-radius: 10px;
}
.footer{
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.coppy{
	padding:5px 0 5px 0;
	background-color: rgba(24, 134, 33, 0.83);
	color: #FFF;
	border: 1px solid #277724;
	border-radius: 2px;
}
.coppyright{
	margin-left: 340px;
	font-size: 1.2em;
}
.lienhe{
	margin-top: 35px;

}
.thongtin{
	background-color:#E0E0E0;
}
.ten{
	text-align: center;
	color:#FF0000;
	font-size: 1.3em;
}
.diachi{
	text-align:center;
	color:#FF0000;
}
.infouser{
	margin-top:10px;
}